<template>
    <div class="col-md-10">
        <div class="name_cat">
            <span>Telegram Tools</span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="name_cat" style="margin-top: 50px;">
                    <span>Export From Groups</span>
                </div>
                <div class="col-md-3 col-md-offset-3">

                    <b-form-group id="exampleInputGroup1"
                                  label="Enter group URL:"
                                  label-for="exampleInput1">
                        <b-form-input class="mb-1"
                                      id="exampleInput1"
                                      type="text"
                                      v-model="group"
                                      placeholder="Group URL">

                        </b-form-input>
                    </b-form-group>

                    <b-form-group id="exampleInputGroup2"
                                  label="Option:"
                                  label-for="exampleInput2">
                        <b-form-select
                                id="exampleInput2"
                                style="margin-bottom: 20px;"
                                v-model="selected"
                                :options="options"
                                class="mb-3">
                        </b-form-select>
                    </b-form-group>

                    <b-form-group style="margin-top: 20px;">
                        <b-button style="width: 100%; float: none; position: inherit; left: inherit; bottom: inherit; transform: inherit;"  @click="submitGroup" variant="primary">Submit</b-button>
                    </b-form-group>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="name_cat" style="margin-top: 50px;">
                    <span>Bulk messages import members</span>
                </div>
                <div class="col-md-3 col-md-offset-3">

                    <b-form-group id="exampleInputGroup1"
                                  label="Enter group URL:"
                                  label-for="exampleInput1">
                        <b-form-input class="mb-1"
                                      id="exampleInput1"
                                      type="text"
                                      v-model="importGroup"
                                      placeholder="Group URL">

                        </b-form-input>
                    </b-form-group>

                    <b-form-group style="margin-top: 20px;">
                        <b-button style="width: 100%; float: none; position: inherit; left: inherit; bottom: inherit; transform: inherit;" @click="submitImportGroup" variant="primary">Submit</b-button>
                    </b-form-group>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="name_cat" style="margin-top: 50px;">
                    <span>Statistic of bulk messages</span>
                </div>
                <div class="col-md-3 col-md-offset-3">

                    <div class="row">
                        <h4 class="statistic-title">Telegram Accounts:</h4>
                        <div class="col-md-12">
                            <div class="col-md-6">Available: <span class="statistic-counter">{{ statistic.phone.available }}</span></div>
                            <div class="col-md-6">Banned: <span class="statistic-counter">{{ statistic.phone.banned }}</span></div>
                        </div>

                    </div>

                    <hr>

                    <div class="row" style="margin-top: 20px;">
                        <h4 class="statistic-title">Groups Members:</h4>
                        <div class="col-md-12">
                            <div class="col-md-4">Done: <span class="statistic-counter">{{ statistic.members.done }}</span></div>
                            <div class="col-md-4">Wait: <span class="statistic-counter">{{ statistic.members.wait }}</span></div>
                            <div class="col-md-4">Fail: <span class="statistic-counter">{{ statistic.members.fail }}</span></div>
                        </div>

                    </div>

                    <b-form-group style="margin-top: 20px;">
                        <b-button style="width: 100%; float: none; position: inherit; left: inherit; bottom: inherit; transform: inherit;" @click="getStatistic(true)" variant="primary">Refresh Statistic</b-button>
                    </b-form-group>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="name_cat" style="margin-top: 50px;">
                    <span>Settings</span>
                </div>
                <div class="col-md-3 col-md-offset-3">

                    <div class="row "  v-for="message in messages" style="margin-bottom: 20px;">
                        <div class="col-md-12">
                            <b-form-textarea :id="'textarea' + message.id"
                                             :no-resize="true"
                                             v-model="message.text"
                                             :placeholder="'Message ' + message.id"
                                             :rows="5"></b-form-textarea>
                        </div>


                    </div>

                    <b-form-group style="margin-top: 20px; margin-bottom: 20px;">
                        <b-button style="width: 100%; float: none; position: inherit; left: inherit; bottom: inherit; transform: inherit;" @click="saveMessages()" variant="primary">Save Messages</b-button>
                    </b-form-group>



                    <hr style="clear: both;" />

                    <div class="row " >
                        <div class="col-md-12">
                            <b-form-group id="exampleInputGroup55"
                                          label="Delay: * (+ few minutes random)"
                                          label-for="exampleInput55">
                                <b-form-select
                                        id="exampleInput55"
                                        style="margin-bottom: 20px;"
                                        v-model="selectedDelay"
                                        :options="optionsDelay"
                                        class="mb-3">
                                </b-form-select>
                            </b-form-group>
                        </div>


                    </div>

                    <b-form-group style="margin-top: 20px;">
                        <b-button style="width: 100%; float: none; position: inherit; left: inherit; bottom: inherit; transform: inherit;" @click="saveMeta()" variant="primary">Save Meta</b-button>
                    </b-form-group>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                group: '',
                selected: 1,
                importGroup: '',
                selectedDelay: 10,
                statistic: {
                    members: {
                        done: 0,
                        fail: 0,
                        wait: 0
                    },
                    phone: {
                        available: 0,
                        banned: 0
                    }
                },
                meta: [],
                messages: [],
                options: [
                    { value: 1, text: 'Only Telegram ID' },
                    { value: 2, text: 'Only Username' },
                    { value: 3, text: 'Telegram ID | FirstName | Lastname' },
                    { value: 4, text: 'Telegram ID | UserName' },
                ],
                optionsDelay: [
                    { value: 10, text: '10m' },
                    { value: 20, text: '20m' },
                    { value: 30, text: '30m' },
                    { value: 40, text: '40m' },
                    { value: 60, text: '1h' },
                    { value: 120, text: '2h' },
                    { value: 180, text: '3h' },
                    { value: 240, text: '4h' },
                ]
            }
        },

        watch: {
            meta: function () {
                this.meta.forEach(item => {
                    if (item.name === 'delay') {
                        this.selectedDelay = parseInt(item.value)
                    }
                })
            }
        },

        methods: {
            submitGroup () {
                axios({
                    method: 'post',
                    url: '/api/proto/send-group',
                    data: {
                        group: this.group,
                        option: this.selected,
                    },
                    responseType: 'arraybuffer'
                }).then(response => {
                    console.log(response)
                    let blob = new Blob([response.data],{type: response.headers['content-type']});
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "Filename";
                    link.click();
                })
            },

            submitImportGroup () {
                axios.post('/api/proto/import-group', {
                    group: this.importGroup
                }).then(response => {
                    this.getStatistic(true)
                })
            },

            getStatistic(needToast) {
                axios.get('/api/proto/get-statistic')
                    .then(response => {
                        this.statistic = response.data.statistic

                        if (needToast) {
                            this.$toastr('success', 'Done')
                        }
                    })
            },

            getMessages() {
                axios.get('/api/proto/get-messages')
                    .then(response => {
                        let len = response.data.messages.length

                        if (len < 4) {
                            for (let i = 0; i < (3 - len); ++i) {
                                response.data.messages.push({
                                    id: (3 - len + i)
                                })
                            }
                        }
                        this.messages = response.data.messages
                    })
            },

            saveMessages () {
                axios.post('/api/proto/save-messages', {messages: this.messages})
                    .then(response => {
                        this.$toastr('success', 'Done')
                    })
            },

            getMeta () {
                axios.get('/api/proto/get-meta')
                    .then(response => {
                        this.meta = response.data.meta
                    })
            },

            saveMeta () {
                axios.post('/api/proto/save-meta', {
                    delay: this.selectedDelay
                })
                .then(response => {
                    this.$toastr('success', 'Done')
                })
            }

        },

        mounted () {
            this.getStatistic()
            this.getMessages()
            this.getMeta()
        }
    }
</script>

<style scoped>
    .tg-button {
        width: 100%;
        float: none;
        position: inherit;
        left: inherit;
        bottom: inherit;
    }

    .statistic-counter {
        color: white;
    }

    h4.statistic-title {
        padding-bottom: 25px;
    }

    .mb-1, .my-1 {
        margin-bottom: 4px!important;
        margin-bottom: .75rem!important;
    }

    .p-1 {
        padding: 4px!important;
        padding: .25rem!important;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 12px 20px;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        padding: 1.25rem;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    h4 {
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
    }
</style>
