<template>
    <div class="top_line">
        <span>{{ value }} <b>₿</b></span>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "balance",

        data () {
            return {
                value: 0
            }
        },

        methods: {
            getBalances () {
                axios.get('/api/balance')
                    .then(response => this.value = response.data.balance)
            }
        },

        mounted () {
            this.getBalances()
        }
    }
</script>

<style scoped>

</style>