<template>
    <div>213</div>
</template>

<script>
    export default {
        name: "main22",
        // render: (h) => h(),

        mounted () {
            console.log(123)
        }
    }
</script>

<style scoped>

</style>