<template>
    <div class="col-md-2" style="" v-show="shown">
        <div class="logo_top">
          <img src="/img/logo.png" alt="">
        </div>
        <button id="open_menu" @click="showMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button>
        <div class="logo_user_top">
          <img src="/img/user.png" alt="">
          <span>Welcome! @{{ username }}</span>
        </div>
        <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->
            <!--<div class="profile-userpic">-->
                <!--<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">-->
            <!--</div>-->
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <!--<div class="profile-usertitle">-->
                <!--<div class="profile-usertitle-name">-->
                    <!--Marcus Doe-->
                <!--</div>-->
                <!--<div class="profile-usertitle-job">-->

                <!--</div>-->
            <!--</div>-->
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <!--<div class="profile-userbuttons">-->
                <!--<button type="button" class="btn btn-success btn-sm">Follow</button>-->
                <!--<button type="button" class="btn btn-danger btn-sm">Message</button>-->
            <!--</div>-->
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    <li v-show="role === 'ROLE_USER' || role === 'ROLE_PREMIUM' || role === 'ROLE_FREE'">
                        <router-link to="/dashboard">
                            <i class="glyphicon glyphicon-wrench"></i> Dashboard
                        </router-link>
                    </li>

                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/builder">
                            <i class="glyphicon glyphicon-home"></i> Builder
                        </router-link>
                    </li>
                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/users">
                            <i class="glyphicon glyphicon-user"></i> Users
                        </router-link>
                    </li>
                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/packages">
                            <i class="glyphicon glyphicon-briefcase"></i> Packages
                        </router-link>
                    </li>

                    <li>
                        <router-link to="/transactions">
                            <i class="glyphicon glyphicon-sort"></i> Transactions
                        </router-link>
                    </li>

                    <li v-show="role === 'ROLE_USER' || role === 'ROLE_PREMIUM' || role === 'ROLE_FREE'">
                        <router-link to="/referrals">
                            <i class="glyphicon glyphicon-indent-left"></i> Referrals
                        </router-link>
                    </li>

                    <li v-show="role === 'ROLE_USER' || role === 'ROLE_PREMIUM' || role === 'ROLE_FREE'">
                        <router-link to="/withdrawal">
                            <i class="glyphicon glyphicon-open"></i> Withdrawal
                        </router-link>
                    </li>

                    <li v-show="role === 'ROLE_USER' || role === 'ROLE_PREMIUM' || role === 'ROLE_FREE'">
                        <router-link to="/faq-user">
                            <i class="glyphicon glyphicon-question-sign"></i> FAQ
                        </router-link>
                    </li>

                    <li v-show="role !== 'ROLE_ADMIN'">
                        <a href="https://t.me/BtcollegeChat" target="_blank">
                            <i class="glyphicon glyphicon-send"></i> Contact us
                        </a>
                    </li>

                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/faq-admin">
                            <i class="glyphicon glyphicon-question-sign"></i> FAQ
                        </router-link>
                    </li>

                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/addresses">
                            <i class="glyphicon glyphicon-qrcode"></i> Addresses
                        </router-link>
                    </li>

                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/black-list">
                            <i class="glyphicon glyphicon-ban-circle"></i> Black List
                        </router-link>
                    </li>

                    <!--<li v-show="role === 'ROLE_ADMIN'">-->
                        <!--<router-link to="/telegram-auth">-->
                            <!--<i class="glyphicon glyphicon-user"></i> Telegram Auth-->
                        <!--</router-link>-->
                    <!--</li>-->

                    <!--<li v-show="role === 'ROLE_ADMIN'">-->
                        <!--<router-link to="/telegram-import">-->
                            <!--<i class="glyphicon glyphicon-user"></i> Telegram Import-->
                        <!--</router-link>-->
                    <!--</li>-->

                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/email-details">
                            <i class="glyphicon glyphicon-envelope"></i> Email Details
                        </router-link>
                    </li>

                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/settings">
                            <i class="glyphicon glyphicon-cog"></i> Settings
                        </router-link>
                    </li>

                    <li v-show="role === 'ROLE_ADMIN'">
                        <router-link to="/logs">
                            <i class="glyphicon glyphicon-flash"></i> Logs
                        </router-link>
                    </li>
                </ul>

                <hr />

                <ul class="nav">
                    <li v-show="role === 'ROLE_USER' || role === 'ROLE_PREMIUM' || role === 'ROLE_FREE'">
                        <router-link to="/profile">
                            <i class="glyphicon glyphicon-wrench"></i> Profile
                        </router-link>
                    </li>
                    <li>
                        <a style="color: #bf5329; cursor: pointer;" @click="logout">
                            <i class="glyphicon glyphicon-off"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>
    </div>
</template>

<script>
    import AuthService from '../services/Auth'

    const authService = new AuthService()

    export default {
        name: "sidebar",

        data () {
           return {
               excludedPaths: [
                   'login', 'register', 'Confirmation',
                   'reset', 'NewPassword', 'login-old'
               ]
           }
        },

        computed: {
            username () {
                return authService.getUser().telegram_name
            },
            role () {
                try {
                    return authService.getRoleUserRole().name
                } catch (e) {
                    return ''
                }
            },
            shown () {
                return !this.excludedPaths.includes(this.$route.name)
            }
        },

        methods: {
            showMenu () {
                $('body').toggleClass('active_m');
                if($('.profile-usermenu.active').length>0){

                    if($(window).width()<999){
                        $('.close_menu').remove();
                        $( ".profile-usermenu" ).animate({
                            left: "-100%",
                        }, 600, function() {
                            // Animation complete.
                            $('.profile-usermenu').removeClass('active');
                        });
                    }
                    else{
                        $( ".profile-usermenu" ).animate({
                            left: "-19.666%",
                        }, 800, function() {
                            // Animation complete.
                            $('.profile-usermenu').removeClass('active');
                        });
                    }
                }else{
                    $( ".profile-usermenu" ).animate({
                        left: "0",
                    }, 800, function() {
                        // Animation complete.
                        $('.profile-usermenu').addClass('active');
                    });
                    if($(window).width()<999){
                        $('.profile-usermenu').after('<div class="close_menu"></div>');
                    }
                }
            },

            logout () {
                return authService.logOut(false, () => {
                    window.location = '/'
                })
            }
        }
    }
</script>

<style scoped>



    .profile-userpic img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }

    .profile-userbuttons .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;
    }

    .profile-userbuttons .btn:last-child {
        margin-right: 0px;
    }

    /*.profile-usermenu {*/
        /*margin-top: 30px;*/
    /*}*/

    .profile-usermenu ul li {
        border-bottom: 1px solid #f0f4f7;
    }

    .profile-usermenu ul li:last-child {
        border-bottom: none;
    }

    .profile-usermenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
    }

    .profile-usermenu ul li a i {
        margin-right: 8px;
        font-size: 14px;
    }

    .profile-usermenu ul li a:hover {
        background-color: #fafcfd;
        color: #5b9bd1;
    }

    /*.profile-usermenu ul li.active {*/
        /*border-bottom: none;*/
    /*}*/

    .profile-usermenu ul li a.active {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
    }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }
</style>
