<template>
    <div class="col-md-10">
        <balance></balance>

        <div class="name_cat">
            <span>
                Referrals

                <b-form-input
                    readonly
                    v-model="referralLink"
                    type="text"
                    id="referral-link"
                ></b-form-input>
                <b-button id="copy-link" variant="success" v-clipboard:copy="referralLink">
                    <i class="glyphicon glyphicon-copy"></i>
                </b-button>
            </span>
        </div>
        <div class="row">
            <div class="col-lg-10 main-bars">
                <div class="col-md-3 registered-bars">
                    <div class="col-md-6">
                        <h4>Registered</h4>
                        <h2 class="bars-counter">{{ registeredTotal }}</h2>
                    </div>
                    <div class="col-md-6" style="height: 100%; margin-top: 60px;">
                        <bars
                                v-if="registeredGroup.length > 1"
                                :data="registeredGroup"
                                :gradient="['#00FFFF', '#FF00FF']"
                                :width="200"
                                :barWidth="5">
                        </bars>

                        <svg v-if="registeredGroup.length === 1"  width="200" height="25%" viewBox="0 0 200 75"><g transform="scale(1,-1) translate(0,-67)" id="vue-bars-19-path"><rect id="bar-id-1" fill="#60adbe" x="54.5" y="0" width="5" height="100" rx="2" ry="2"><animate attributeName="height" from="0" to="100" dur="0.5s" fill="freeze"></animate><title>1</title></rect></g></svg>
                    </div>
                </div>
                <div class="col-md-3 payed-bars">
                    <div class="col-md-6">
                        <h4>Purchased</h4>
                        <h2 class="bars-counter">{{ payedTotal }}</h2>
                    </div>
                    <div class="col-md-6" style="height: 100%; margin-top: 60px;">
                        <bars
                                v-if="payedGroup.length > 1"
                                :data="payedGroup"
                                :gradient="['#6fa8dc', '#42b983']"
                                :width="200"
                                :barWidth="5">
                        </bars>

                        <svg v-if="payedGroup.length === 1"  width="200" height="25%" viewBox="0 0 200 75"><g transform="scale(1,-1) translate(0,-67)" id="vue-bars-19-path"><rect id="bar-id-1" fill="#60adbe" x="54.5" y="0" width="5" height="100" rx="2" ry="2"><animate attributeName="height" from="0" to="100" dur="0.5s" fill="freeze"></animate><title>1</title></rect></g></svg>
                    </div>
                </div>
                <div class="col-md-3 visits-bars">
                    <div class="col-md-6">
                        <h4>Visits</h4>
                        <h2 class="bars-counter">{{ visitsTotal }}</h2>
                    </div>
                    <div class="col-md-6" style="height: 100%; margin-top: 60px;">
                        <bars
                                v-if="visitsGroup.length > 1"
                                :data="visitsGroup"
                                :gradient="['#6fa8dc', '#42b983']"
                                :width="200"
                                :barWidth="5">
                        </bars>

                        <svg v-if="visitsGroup.length === 1"  width="200" height="25%" viewBox="0 0 200 75"><g transform="scale(1,-1) translate(0,-67)" id="vue-bars-19-path"><rect id="bar-id-1" fill="#60adbe" x="54.5" y="0" width="5" height="100" rx="2" ry="2"><animate attributeName="height" from="0" to="100" dur="0.5s" fill="freeze"></animate><title>1</title></rect></g></svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <b-table hover :items="items" :fields="fields">
                <template slot="user" slot-scope="data">
                    {{data.value.telegram_name}}
                </template>
                <template slot="package" slot-scope="data">
                    {{data.value.name}}
                </template>
                <template slot="tx_id"  slot-scope="data">
                    <div class="wrap">{{data.value}}</div>
                </template>
                <template slot="wallet" slot-scope="data">
                    <template v-if="data.item.address">
                        <div class="wrap">{{data.item.address.value}}</div>
                    </template>
                </template>
                <template slot="status" slot-scope="data">
                    <template v-if="parseInt(data.value) === 0">
                        <b-badge variant="warning">Pending</b-badge>
                    </template>
                    <template v-if="parseInt(data.value) === 1">
                        <b-badge variant="success">Success</b-badge>
                    </template>
                    <template v-if="parseInt(data.value) === 2">
                        <b-badge variant="danger">Failed</b-badge>
                    </template>
                </template>
                <template slot="your_gain" slot-scope="data">
                    {{ ((data.item.price / 100) * 10) }} BTC
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import AuthService from '../../services/Auth'
    import Balance from '../../components/Balance'

    const authService = new AuthService()

    export default {
        components: {
            Balance
        },

        data () {
            let user = authService.getUser()

            return {
                referralLink: 'https://bitcollege.info/register?ref=' + user.affiliate_id,
                statistic: {},
                fields: [
                    'user', 'package',  'status', {key: 'wallet', thClass: 'custom-th'}, 'price',
                    'created_at', 'your_gain'
                ],
                items: []
            }
        },

        computed: {
            registeredGroup: function () {
                if (!this.statistic.hasOwnProperty('registered')) return []

                let result = []
                let data = this.statistic.registered.groups
                for (let item in data) {
                    result.push(data[item])
                }

                return result
                // return [5, 1, 3]
            },

            payedGroup: function () {
                if (!this.statistic.hasOwnProperty('payed')) return []

                let result = []
                let data = this.statistic.payed.groups
                for (let item in data) {
                    result.push(data[item])
                }

                return result
            },

            visitsGroup: function () {
                if (!this.statistic.hasOwnProperty('visits')) return []

                let result = []
                let data = this.statistic.visits.groups
                for (let item in data) {
                    result.push(data[item])
                }

                return result
            },

            registeredTotal: function () {
                if (!this.statistic.hasOwnProperty('registered')) return 0
                if (!this.statistic.registered.hasOwnProperty('total')) return 0

                return this.statistic.registered.total
            },

            payedTotal: function () {
                if (!this.statistic.hasOwnProperty('payed')) return 0
                if (!this.statistic.payed.hasOwnProperty('total')) return 0

                return this.statistic.payed.total
            },

            visitsTotal: function () {
                if (!this.statistic.hasOwnProperty('visits')) return 0
                if (!this.statistic.visits.hasOwnProperty('total')) return 0

                return this.statistic.visits.total
            },
        },

        methods: {
            clipboardSuccessHandler () {
                this.$toastr('success', 'Copied to clipboard')
            },

            getAllTransactions () {
                axios.get('/api/referrals/transactions')
                    .then(response => this.items = response.data.transactions)
            },

            getStatistic () {
                axios.get('/api/referrals/statistic')
                    .then(response => this.statistic = response.data.statistic)
            }
        },

        mounted() {
            this.getStatistic()

            this.getAllTransactions()
            // this.changeTableFieldsByRole()
        }
    }
</script>

<style scoped lang="scss">
    .wrap {
        word-break: break-word;
        min-width: 100px
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffc107;
    }
</style>

<style>
    rect {
        fill: white;
    }

    .main-bars {
        float: none;
        margin: 0 auto;
    }

    .main-bars h4 {
        padding-top: 20px;
    }

    .main-bars {
        color: white;
        font-family: "Raleway", sans-serif;
    }

    .bars-counter {
        margin-top: 40px;
    }

    .registered-bars {
        height: 150px;
        background: linear-gradient(0deg,#03a9f4,#039be5);
        margin: 20px;
    }
    .payed-bars {
        height: 150px;
        background: linear-gradient(0deg,#a603f3,#9f03e5);
        margin: 20px;
    }
    .visits-bars {
        height: 150px;
        background: linear-gradient(0deg,#22bf86,#29e9a5);
        margin: 20px;
    }

    #referral-link {
        width: 300px;
        color: #ffc107;
        background-color: #212529;
        display: initial;
        float: initial;
        margin-left: 20px;
    }

    #copy-link {
        height: 30px;
        padding: 3px 10px;
        float: initial;
        width: initial;
        margin-left: initial;
    }

    .custom-th {
        min-width: 100px;
        word-break: break-all;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        border: 0;
        padding-top: 20px;
    }
</style>
