<template>
    <div  class="col-md-10">
        <balance :key="updateBalance"></balance>
        <div class="name_cat">
            <span>Withdrawal</span>
        </div>

        <div class="row">
            <div class="col-md-12">
                <b-card  bg-variant="dark" text-variant="white" header="Make Withdrawal">
                    <div class="col-md-3">
                        <b-form-group id="fieldsetHorizontal1"
                                      horizontal
                                      :label-cols="3"
                                      breakpoint="md"
                                      description="Telegram Username (without @)"
                                      label="Username:"
                                      label-for="inputHorizontal1">
                            <b-form-input id="inputHorizontal1" v-model="withdrawal.to_user_id"></b-form-input>
                        </b-form-group>

                    </div>
                    <div class="col-md-3">
                        <b-form-group id="fieldsetHorizontal1"
                                      horizontal
                                      :label-cols="3"
                                      breakpoint="md"
                                      description="Minimum 0.01 BTCS"
                                      label="Amount:"
                                      label-for="inputHorizontal1">
                            <b-form-input id="inputHorizontal1" v-model="withdrawal.amount"></b-form-input>
                        </b-form-group>

                    </div>
                    <b-button-group>
                        <b-button @click="createWithdrawal" variant="primary">Send</b-button>
                        <!--<b-button @click="filter" variant="danger">Reset</b-button>-->
                    </b-button-group>
                </b-card>
            </div>
        </div>

        <div class="table-responsive" v-if="items">
            <b-table hover :items="items" :fields="fields">
                <template slot="from_user" slot-scope="data">
                    {{data.item.from_user.telegram_name}}
                </template>
                <template slot="to_user" slot-scope="data">
                    {{data.item.to_user.telegram_name}}
                </template>
                <template slot="amount" slot-scope="data">
                    {{data.value}} BTCS
                </template>
            </b-table>

        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import AuthService from '../../services/Auth'
    import Balance from '../../components/Balance'

    const authService = new AuthService()

    export default {
        components: {
            Balance
        },

        data () {
            return {
                updateBalance: 0,
//                role: true,
                fields:
                    [
                        'from_user', 'to_user', 'amount', 'created_at'
                    ],
                items: [],
                withdrawal: {
                    to_user_id: undefined,
                    amount: undefined,
                },
                errors: {
                    'fill_amount': 'Amount is not specified',
                    'min': 'Amount less then minimum: 0.01 BTCS',
                    'insufficient_balance': 'Insufficient Balance',
                    'to_user_not_found': 'To User Not Found'
                }
            }
        },

        methods: {
            getError (error) {
                return this.errors[error]
            },

            createWithdrawal () {
                axios.post('/api/withdrawal', this.withdrawal)
                    .then(response => {
                        if (response.data.hasOwnProperty('error')) {
                            return this.$toastr('error', this.getError(response.data.error))
                        } else if (response.data.hasOwnProperty('withdrawal')) {
                            this.items.push(response.data.withdrawal)

                            this.withdrawal.amount = undefined
                            this.withdrawal.to_user_id = undefined

                            ++this.updateBalance
                        }
                    });
            },

            getAllWithdrawals () {
                axios.get('/api/withdrawals')
                    .then(response => {
                        this.items = response.data.withdrawals
                    })
            }
        },

        mounted() {
            this.getAllWithdrawals()
        }
    }
</script>

<style scoped lang="scss">
    .wrap {
        word-break: break-word;
        min-width: 100px
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffc107;
    }

    .b-form-group.form-group {
        margin-top: 0;

        .form-control {
            float: right;
            width: 100%;
            height: 30px;
            border: 1px solid #1f1f1f;
            background: #3b3b3b !important;
            border-radius: 0px;
            font-size: 12px;
            color: #fff;
        }
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .text-white {
        color: #fff!important;
    }
    .bg-dark {
        background-color: #343a40!important;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 12px 20px;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);

        font-size: 14px;
        color: #b1b1b1;
        text-transform: uppercase;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        padding: 1.25rem;

        .btn-primary, .btn-danger {
            padding: 4px 12px !important;
            border-radius: 0px !important;
            font-size: 13px !important;
            /* width: 70px !important; */
            font-size: 12px !important;
            color: #fff !important;
        }
    }

    .card {
        margin: 30px auto;
        width: 93%;
    }
</style>

<style>
    .custom-th {
        min-width: 100px;
        word-break: break-all;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        border: 0;
        padding-top: 20px;
    }
</style>
