<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Builder</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="Title"
                      label-for="title">
            <b-form-input
                id="title"
                v-model="form.title"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Type"
                      label-for="type">
            <b-form-select
                v-model="form.type"
                :options="typeOptions"
                class="mb-3"
            />
        </b-form-group>
        <b-form-group horizontal
                      v-show="form.type === 'link'"
                      :label-cols="2"
                      label="Link"
                      label-for="link">
            <b-form-input
                id="link"
                v-model="form.link"
            ></b-form-input>
        </b-form-group>
        <b-form-group horizontal
                      v-show="entitiesOptions.length"
                      :label-cols="2"
                      label="Parent"
                      label-for="Parent">
            <b-form-select
                v-model="form.parent_id"
                :options="entitiesOptions"
                class="mb-3"
            />
        </b-form-group>
        <b-form-group horizontal
                      v-show="form.type === 'button'"
                      :label-cols="2"
                      label="Welcome Message"
                      label-for="welcome">
            <b-form-textarea
                id="welcome"
                v-model.trim="form.welcome"
                placeholder="Enter Welcome Message"
                :rows="3"
            ></b-form-textarea>
        </b-form-group>

        <div class="col-md-4 pb-2">
            <b-button @click="createEntity" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>
    const baseUrl = 'http://localhost:8000/api'

    import axios from 'axios'

    export default {
        name: "create",
        data () {
            return {
                edit: window.edit,
                id: window.id,
                entities: [],
                form: {
                    title: undefined,
                    type: undefined,
                    link: undefined,
                    welcome: undefined,
                    parent_id: undefined
                },
                typeOptions: [
                    { value: null, text: 'Please select an option' },
                    { value: 'button', text: 'Button' },
                    { value: 'link', text: 'Link' },
                ],
                entitiesOptions: []
            }
        },

        methods: {
            createEntity () {
                let request

                if (this.edit) {
                    request = axios.put('/api/entity', this.form)
                } else {
                    request = axios.post('/api/entity', this.form)
                }

                request
                    .then(response => {
                        console.log(response)

                        window.location.href = '/'
                    })
            },
            getAllEntities () {
                axios.get('/api/entities-button')
                    .then(response => {
                        let data = response.data.entities

                        data.forEach(item => {
                           this.entitiesOptions.push({
                               value: item.id,
                               text: item.title
                           })
                        });
                    })
            },
            getEntity () {
                axios.get('/api/entity/' + this.id)
                    .then(response => this.form = response.data.entity)
            }
        },

        mounted() {
            this.getAllEntities()

            if (this.edit) {
                this.getEntity()
            }
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
