<template>
    <div class="col-md-10">
        <balance></balance>
        <div class="name_cat">
          <span>Builder</span>
        </div>
        <b-button @click="goToCreate" variant="success">
            Create New
        </b-button>

        <hr class="hr" />

        <div class="table-responsive">
            <b-table hover :items="items" :fields="fields">
                <template slot="link" slot-scope="data">
                    <template v-if="data.value">
                        <a :href="data.value" target="_blank">Open</a>
                    </template>
                </template>

                <template slot="parent" slot-scope="data">
                    <template v-if="data.value">
                        {{data.value.title}}
                    </template>
                </template>

                <template slot="actions" slot-scope="data">
                    <b-button-group>
                        <b-button :href="'/builder/edit/' + data.item.id" variant="primary">Edit</b-button>
                        <b-button @click="remove(data.item.id, data.index)" variant="danger">Remove</b-button>
                    </b-button-group>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    const baseUrl = 'http://localhost:8000/api'

    import axios from 'axios'
    import Balance from '../../components/Balance'

    export default {
        components: {
            Balance
        },

        data () {
            return {
                fields: [ 'id', 'title', 'type', 'link', 'parent', 'actions' ],
                items: []
            }
        },

        methods: {
            edit (id) {
                this.$router.push('/builder/edit/' + id)
            },
            remove (id, index) {
                axios.get('/api/entity-delete/' + id)
                    .then(() => {
                        this.items.splice(index, 1)
                    })
            },
            goToCreate () {
                this.$router.push('/builder/create')
            },
            getAllEntities () {
                // console.log(this.baseUrl)
                axios.get('/api/entities')
                    .then(response => {
                        this.items = response.data.entities
                    })
            }
        },

        mounted() {
            this.getAllEntities()
        }
    }
</script>

<style scoped>

</style>
