<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Black List</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="TxId"
                      label-for="tx_id">
            <b-form-input
                id="tx_id"
                v-model="form.tx_id"

            ></b-form-input>
        </b-form-group>

        <div class="col-md-4 pb-2">
            <b-button @click="createBlackListRecord" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                edit: window.edit,
                id: window.id,
                form: {
                    tx_id: undefined,
                },
            }
        },

        methods: {
            createBlackListRecord () {
                let request

                if (this.edit) {
                    request = axios.post('/api/black-list/' + this.id, this.form)
                } else {
                    request = axios.post('/api/black-list', this.form)
                }

                request
                    .then(response => {
                        window.location.href = '/black-list'
                    })
            },
            getEntity () {
                axios.get('/api/black-list/' + this.id)
                    .then(response => this.form = response.data.black_list)
            }
        },

        mounted() {
            if (this.edit) {
                this.getEntity()
            }
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
