<template>
    <div class="col-md-10">
        <balance></balance>
        <div class="name_cat">
          <span>Black List</span>
        </div>
        <b-button @click="goToCreate" variant="success">
            Create New
        </b-button>

        <hr class="hr" />

        <div class="table-responsive">
            <b-table hover :items="items" :fields="fields">
                <template slot="actions" slot-scope="data">
                    <b-button-group>
                        <b-button :href="'/black-list/edit/' + data.item.id" variant="primary">Edit</b-button>
                        <b-button @click="remove(data.item.id, data.index)" variant="danger">Remove</b-button>
                    </b-button-group>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import Balance from '../../components/Balance'

    export default {
        components: {
            Balance
        },

        data () {
            return {
                fields: [ 'tx_id', 'actions' ],
                items: []
            }
        },

        methods: {
            edit (id) {
                this.$router.push('/black-list/edit/' + id)
            },
            remove (id, index) {
                axios.delete('/api/black-list-delete/' + id)
                    .then(() => {
                        this.items.splice(index, 1)
                    })
            },
            goToCreate () {
                this.$router.push('/black-list/create')
            },
            getAllEntities () {
                // console.log(this.baseUrl)
                axios.get('/api/black-lists')
                    .then(response => {
                        this.items = response.data.black_lists
                    })
            }
        },

        mounted() {
            this.getAllEntities()
        }
    }
</script>

<style scoped>

</style>
