<template>
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <b-alert variant="success" :show="confirmationApprove">
                Confirmation was approve, please login
            </b-alert>
            <b-alert variant="danger" :show="confirmationError">
                Confirmation error, please contact administrator
            </b-alert>
        </div>



        <login v-if="confirmationApprove" :from-confirmation="true"></login>
    </div>
</template>

<script>
    import Login from './Login'

    export default {
        name: "confirmation",

        components: {
           Login
        },

        data () {
            return {
                confirmationApprove: false,
                confirmationError: false,
                in: {
                    id: window.id,
                    token: window.token,
                }
            }
        },

        methods: {
            checkConfirmation() {
                axios.post('/api/auth/confirmation', this.in)
                    .then(response => {
                        if (response.data) {
                            this.confirmationApprove = true
                            this.confirmationError = false
                        } else {
                            this.confirmationApprove = false
                            this.confirmationError = true
                        }
                    })
            }
        },

        mounted () {
            this.checkConfirmation()
        }
    }
</script>

<style scoped>

</style>