<template>
    <div class="col-md-10" >
        <balance></balance>

        <div class="name_cat">
          <span>Profile</span>
        </div>

        <b-row>
            <b-col sm="1"></b-col>
            <b-col sm="5" lg="4">
                <b-form-group horizontal
                      label="First Name"
                      label-for="first_name">
                    <b-form-input
                        id="first_name"
                        v-model="form.first_name"
                    ></b-form-input>
                </b-form-group>

                <b-form-group horizontal
                      label="Last Name"
                      label-for="last_name">
                    <b-form-input
                        id="last_name"
                        v-model="form.last_name"
                    ></b-form-input>
                </b-form-group>

                <b-form-group horizontal
                      label="Phone"
                      label-for="phone">
                    <b-form-input
                            id="phone"
                            v-model="form.phone"
                    ></b-form-input>
                </b-form-group>
            </b-col>

            <b-col sm="5" lg="4">
                <b-form-group horizontal
                      label="Telegram"
                      label-for="telegram_name">
                    <b-form-input
                            id="telegram_name"
                            v-model="form.telegram_name"
                    ></b-form-input>
                </b-form-group>

                <b-form-group horizontal
                      label="Email"
                      label-for="email">
                    <b-form-input
                        id="email"
                        v-model="form.email"
                    ></b-form-input>
                </b-form-group>
            </b-col>
        </b-row>

        <!-- <b-form-group horizontal
                      :label-cols="2"
                      label="Email"
                      label-for="email">
            <b-form-input
                id="email"
                v-model="form.email"
        
            ></b-form-input>
        </b-form-group>
        
        <b-form-group horizontal
                      :label-cols="2"
                      label="First Name"
                      label-for="first_name">
            <b-form-input
                id="first_name"
                v-model="form.first_name"
        
            ></b-form-input>
        </b-form-group>
        
        <b-form-group horizontal
                      :label-cols="2"
                      label="Last Name"
                      label-for="last_name">
            <b-form-input
                id="last_name"
                v-model="form.last_name"
        
            ></b-form-input>
        </b-form-group>
        
        
        <b-form-group horizontal
                      :label-cols="2"
                      label="Telegram Name"
                      label-for="telegram_name">
            <b-form-input
                    id="last_name"
                    v-model="form.telegram_name"
        
            ></b-form-input>
        </b-form-group>
        
        
        
        <b-form-group horizontal
                      :label-cols="2"
                      label="Phone"
                      label-for="phone">
            <b-form-input
                    id="phone"
                    v-model="form.phone"
        
            ></b-form-input>
        </b-form-group>
        
        
        <b-form-group horizontal
                      :label-cols="2"
                      label="Telegram ID"
                      label-for="telegram_id">
            <b-form-input
                    id="telegram_id"
                    v-model="form.telegram_id"
            ></b-form-input>
        </b-form-group> -->

        <b-col>
            <b-col sm="2"></b-col>
            <b-button @click="createUser" variant="success" class="left-0">Save</b-button>
        </b-col>
    </div>
</template>

<script>
    import axios from 'axios'
    import AuthService from '../../services/Auth'
    import VuePassword from 'vue-password'
    import Balance from '../../components/Balance'

    const authService = new AuthService()

    export default {
        components: {
            Balance
        },
        data () {
            return {
                passwordScore: 2,
                edit: window.edit,
                id: authService.getUser().id,
                form: {
                    email: undefined,
                    last_name: undefined,
                    first_name: undefined,
                    telegram_name: undefined,
                    phone: undefined,
                },
            }
        },

        methods: {
            createUser () {
                axios.post('/api/update-profile', this.form)
                    .then(response => {
                        // window.location.href = '/profile'


                        this.$toastr('success', 'Profile data was saved')
                    })
            },
            getEntity () {
                axios.get('/api/profile')
                    .then(response => {
                        this.form = response.data.user
                    })

            }
        },

        mounted() {
            this.getEntity()
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }

    .left-0 {
        margin-left: 15px !important;
    }
</style>