<template>
    <div class="col-md-10">
        <balance></balance>

        <div class="name_cat">
          <span>Logs</span>
        </div>
        <div class="table-responsive">
            <b-table hover :items="items" :fields="fields">
                <template slot="status" slot-scope="data">
                    <template v-if="parseInt(data.value) === 1">
                        <b-badge variant="info">Info</b-badge>
                    </template>
                    <template v-if="parseInt(data.value) === 2">
                        <b-badge variant="warning">Warning</b-badge>
                    </template>
                    <template v-if="parseInt(data.value) === 3">
                        <b-badge variant="danger">Error</b-badge>
                    </template>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import Balance from '../../components/Balance'

    export default {
        components: {
            Balance
        },

        data () {
            return {
                fields: [ 'provider', 'status', 'entity_id', 'data', 'created_at' ],
                items: []
            }
        },

        methods: {
            getLogs () {
                axios.get('/api/logs')
                    .then(response => {
                        this.items = response.data.logs
                    })
            }
        },

        mounted() {
            this.getLogs()
        }
    }
</script>

<style scoped>
    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-info {
        color: #fff;
        background-color: #17a2b8;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffc107;
    }
</style>
