<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Users</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="Email"
                      label-for="email">
            <b-form-input
                id="email"
                v-model="form.email"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="First Name"
                      label-for="first_name">
            <b-form-input
                id="first_name"
                v-model="form.first_name"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Last Name"
                      label-for="last_name">
            <b-form-input
                id="last_name"
                v-model="form.last_name"

            ></b-form-input>
        </b-form-group>


        <b-form-group horizontal
                      :label-cols="2"
                      label="Telegram Name"
                      label-for="telegram_name">
            <b-form-input
                    id="last_name"
                    v-model="form.telegram_name"

            ></b-form-input>
        </b-form-group>


        <b-form-group horizontal
                      :label-cols="2"
                      label="Phone"
                      label-for="phone">
            <b-form-input
                    id="phone"
                    v-model="form.phone"

            ></b-form-input>
        </b-form-group>


        <!--<b-form-group horizontal-->
                      <!--:label-cols="2"-->
                      <!--label="Telegram ID"-->
                      <!--label-for="telegram_id">-->
            <!--<b-form-input-->
                    <!--id="telegram_id"-->
                    <!--v-model="form.telegram_id"-->
            <!--&gt;</b-form-input>-->
        <!--</b-form-group>-->

        <b-form-group horizontal
                      id="Role"
                      :label-cols="2"
                      label="Role"
                      label-for="Role"
                      >
            <b-form-select v-model="form.role" :options="roles" class="mb-3">
            </b-form-select>
        </b-form-group>

        <div v-if="!edit">
            <b-form-group horizontal
                          :label-cols="2"
                          label="Password"
                          label-for="password">
                <b-form-input
                        id="password"
                        v-model="form.password"
                ></b-form-input>
            </b-form-group>
        </div>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Finished date"
                      label-for="finished">
            <b-form-input
                    id="finished"
                    placeholder="YYYY-MM-DD HH:MM:SS"
                    v-model="form.finished_date"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Balance"
                      label-for="Balance">
            <b-form-input
                    id="phone"
                    v-model="form.balance"

            ></b-form-input>
        </b-form-group>


        <div class="col-md-4 pb-2">
            <b-button @click="createUser" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>

    import axios from 'axios'

    export default {
        data () {
            return {
                edit: window.edit,
                id: window.id,
                roles: [],
                form: {
                    email: undefined,
                    last_name: undefined,
                    first_name: undefined,
                    telegram_name: undefined,
                    phone: undefined,
                    telegram_id: undefined,
                    password: undefined,
                    role: undefined,
                    finished_date: undefined,
                    balance: undefined
                },
                options: [
                    { value: null, text: 'Please select some item' },
                    { value: 'a', text: 'This is First option' },
                    { value: 'b', text: 'Default Selected Option' },
                    { value: 'c', text: 'This is another option' },
                    { value: 'd', text: 'This one is disabled', disabled: true }
                ]
            }
        },

        watch: {
            // 'form.finished_date': function (value) {
            //     if (value) {
            //         this.form.role = 3
            //     } else {
            //         this.form.role = 2
            //     }
            // }
        },

        methods: {
            customLabel (item) {
                return item.name
            },
            createUser () {
                let request

                if (this.edit) {
                    request = axios.post('/api/user/' + this.id, this.form)
                } else {
                    request = axios.post('/api/user', this.form)
                }

                request
                    .then(response => {
                        window.location.href = '/users'
                    })
            },
            getEntity () {
                axios.get('/api/user/' + this.id)
                    .then(response => {
                        this.form = response.data.user
                        this.form.role = response.data.user.roles[0].id
                    })
            },
          getRoles () {
            axios.get('/api/roles')
              .then(response => {
                  response.data.roles.forEach( role => {
                      this.roles.push({ value: role.id, text: role.name })
                  })
              })
          }
        },

        mounted() {
            if (this.edit) {
                this.getEntity()
            }
            this.getRoles()
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
