<template>
    <div class="col-md-10">
        <balance></balance>
        <div class="name_cat">
          <span>Users</span>
        </div>
        <b-button @click="goToCreate" variant="success">
            Create New
        </b-button>

        <hr class="hr" />

        <div class="row">
            <div class="col-md-12">
                <b-card  bg-variant="dark" text-variant="white" header="Search & Filter">
                    <div class="col-md-3">
                        <b-form-group id="fieldsetHorizontal1"
                                      horizontal
                                      :label-cols="3"
                                      breakpoint="md"
                                      description="Email/Username/Phone"
                                      label="Search:"
                                      label-for="inputHorizontal1">
                            <b-form-input id="inputHorizontal1" v-model="filterData.search"></b-form-input>
                        </b-form-group>

                    </div>
                    <div class="col-md-3">

                        <b-form-group id="fieldsetHorizontal2"
                                      horizontal
                                      :label-cols="3"
                                      breakpoint="md"
                                      description="Select One"
                                      label="Role:"
                                      label-for="inputHorizontal2">
                            <b-form-select id="inputHorizontal2" v-model="filterData.role_id" :options="roles" class="mb-3" />
                        </b-form-group>
                    </div>
                    <div class="col-md-1">
                        <b-button-group>
                            <b-button @click="filter" variant="primary">Filter</b-button>
                            <!--<b-button @click="filter" variant="danger">Reset</b-button>-->
                        </b-button-group>
                    </div>

                    <!--<div class="col-md-4">-->
                        <!--<div class="col-md-6">-->

                            <!--<b-form-group id="fieldsetHorizontal3"-->
                                          <!--horizontal-->
                                          <!--:label-cols="3"-->
                                          <!--breakpoint="md"-->
                                          <!--description="Select One"-->
                                          <!--label="Filed:"-->
                                          <!--label-for="inputHorizontal3">-->
                                <!--<b-form-select id="inputHorizontal3" v-model="sortField" :options="sortFields" class="mb-3" />-->
                            <!--</b-form-group>-->
                        <!--</div>-->
                        <!--<div class="col-md-1">-->
                            <!--<b-button-group>-->
                                <!--<b-button @click="sort" variant="primary">Sort</b-button>-->
                                <!--&lt;!&ndash;<b-button @click="filter" variant="danger">Reset</b-button>&ndash;&gt;-->
                            <!--</b-button-group>-->
                        <!--</div>-->
                    <!--</div>-->
                </b-card>
            </div>
        </div>

        <div class="table-responsive">
            <b-table
                hover
                :items="items"
                :fields="fields"
                :no-local-sorting="true"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
            >
                <template slot="index" slot-scope="data">
                    {{data.index + 1}}
                </template>
                <template slot="email" slot-scope="data">
                    <a :href="'/users/edit/' + data.item.id">{{ data.item.email || data.item.phone }}</a>
                </template>
                <template slot="roles" slot-scope="data">
                    <template v-if="data.value">
                        {{data.value[0].name}}
                    </template>
                </template>

                <template slot="actions" slot-scope="data">
                    <b-button-group>
                        <b-button :href="'/users/edit/' + data.item.id" variant="primary">Edit</b-button>
                        <b-button @click="remove(data.item.id, data.index)" variant="danger">Remove</b-button>
                    </b-button-group>
                </template>
                <template  slot="role" slot-scope="data" >
                    <span v-if="data.item.roles.length">{{ data.item.roles[0].name }}</span>
                </template>
            </b-table>


        </div>

        <div class="pagination-wrapper" v-if="total">
            <b-pagination v-if="!needFilter" align="right" :total-rows="total" v-model="page" :per-page="perPage"></b-pagination>
            <b-pagination v-if="needFilter" align="right" :total-rows="total" v-model="filterPage" :per-page="perPage"></b-pagination>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import Balance from '../../components/Balance'

    export default {
        components: {
            Balance
        },

        data () {
            return {
                fields: [ {
                    key: 'id',
                    sortable: true
                }, 'email', 'first_name', 'last_name', 'telegram_name', 'role', {
                    key: 'created_at',
                    sortable: true
                }, {
                    key: 'finished_date',
                    sortable: true
                }, 'balance', 'actions' ],
                sortBy: null,
                sortDesc: false,
                items: [],
                filterData: {
                    search: '',
                    role_id: 0,
                },
                roles: {
                    1: 'ROLE_ADMIN',
                    2: 'ROLE_USER',
                    3: 'ROLE_PREMIUM',
                    4: 'ROLE_FREE'
                },
                total: 0,
                filterPage: 1,
                page: 1,
                perPage: 50
            }
        },

        computed: {
            needFilter: function () {
                return (this.filterData.search !== '' || this.filterData.role_id !== 0)
            }
        },

        watch: {
            sortBy: function() {
                if (this.needFilter) {
                    this.getAllEntities()
                } else {
                    this.filter()
                }
            },

            sortDesc: function() {
                if (this.needFilter) {
                    this.getAllEntities()
                } else {
                    this.filter()
                }
            },

            page: function() {
                this.getAllEntities()
            },

            filterPage: function () {
                this.filter()
            }
        },

        methods: {
            reset () {
                this.filterData.search = ''
                this.filterData.role_id = 0
            },

            filter () {
                axios.post('/api/users-filter?page=' + this.filterPage + (this.sortBy ? ('&sortBy=' + this.sortBy + '&sortDesc=' + this.sortDesc) : ''), this.filterData)
                    .then(response => {
                        this.items = response.data.users.data
                        this.total = response.data.users.total
                        this.filterPage = response.data.users.current_page
                    })
            },
            edit (id) {
                this.$router.push('/users/edit/' + id)
            },
            remove (id, index) {
                axios.delete('/api/user-delete/' + id)
                    .then(() => {
                        this.items.splice(index, 1)
                    })
            },
            goToCreate () {
                this.$router.push('/users/create')
            },
            getAllEntities () {
                // console.log(this.baseUrl)
                this.filter()
            }
        },

        mounted() {
            this.getAllEntities()
        }
    }
</script>

<style scoped lang="scss">
    .b-form-group.form-group {
        margin-top: 0;

        .form-control {
            float: right;
            width: 100%;
            height: 30px;
            border: 1px solid #1f1f1f;
            background: #3b3b3b !important;
            border-radius: 0px;
            font-size: 12px;
            color: #fff;
        }
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .text-white {
        color: #fff!important;
    }
    .bg-dark {
        background-color: #343a40!important;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 12px 20px;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);

        font-size: 14px;
        color: #b1b1b1;
        text-transform: uppercase;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        padding: 1.25rem;

        .btn-primary, .btn-danger {
            padding: 4px 12px !important;
            border-radius: 0px !important;
            font-size: 13px !important;
            /* width: 70px !important; */
            font-size: 12px !important;
            color: #fff !important;
        }
    }

    .card {
        margin: 30px auto;
        width: 93%;
    }
</style>
