<template>
    <div  class="col-md-10">
    <div class="name_cat">
      <span>TelegramAuth</span>
    </div>
    <div class="col-md-3 col-md-offset-3">

        <h4>Enter your phone number for auth in telegram </h4>

        <b-alert :show="!!phoneError" variant="danger">{{phoneError}}</b-alert>

        <b-form-input class="mb-1"
                      type="text"
                      v-model="phone"
                      placeholder="Your phone"></b-form-input>

        <div>
            <b-button  @click="savePhone" variant="primary">Submit Phone</b-button>
        </div>

        <div v-if="firstStep">
            <hr />

            <b-alert :show="true" variant="info" >We sent code to your telegram</b-alert>
            <b-alert :show="!!codeError" variant="danger" >{{ codeError }}</b-alert>

            <h4>Enter your verification code sent in telegram </h4>

            <b-form-input class="mb-1"
                          type="text"
                          v-model="verificationCode"
                          placeholder="Your Telegram Code"></b-form-input>

            <div>
                <b-button @click="saveCode" variant="primary">Submit Code</b-button>
            </div>
        </div>

        <div v-if="secondStep">
            <hr />

            <b-alert :show="true" variant="info" v-if="authorizationInfo">{{ authorizationInfo['_'] }}</b-alert>

            <template v-if="authorizationInfo['_'] === 'account.password'">
                <b-form-input class="mb-1"
                              type="text"
                              v-model="accountPassword"
                              placeholder="Your Telegram Password"></b-form-input>

                <div>
                    <b-button @click="saveAccountPassword" variant="primary">Submit password</b-button>
                </div>
            </template>
            <template v-if="authorizationInfo['_'] === 'account.needSignup'">
                <b-form-input class="mb-1"
                              type="text"
                              v-model="accountSignupFirstName"
                              placeholder="Your First Name"></b-form-input>
                <b-form-input class="mb-1"
                              type="text"
                              v-model="accountSignupSecondName"
                              placeholder="Your Second Name"></b-form-input>

                <div>
                    <b-button @click="saveAccountSignup" variant="primary">Submit Name</b-button>
                </div>
            </template>
        </div>

        <div v-if="login">
            <hr/>

            <b-alert :show="login" variant="info" >Successful login</b-alert>
        </div>

        <!--<div v-if="login" :class="{'is-waiting-2': loader}">-->
            <!--<div class="col-xs-12">-->
                <!--<hr />-->

                <!--<div>-->
                    <!--<span class="ml-1" v-show="!loader">{{ loaderText }}</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>&lt;!&ndash;/row&ndash;&gt;-->


    </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                codeError: null,
                authorizationInfo: null,
                accountPassword: null,
                accountSignupFirstName: null,
                accountSignupSecondName: null,
                phoneError: null,
                loaderText: 'success',
                loader: null,
                login: null,
                firstStep: null,
                secondStep: null,
                phone: null,
                verificationCode: null,
            }
        },

        methods: {
            savePhone () {
                axios.post('/api/proto/send-phone', {
                    phone: this.phone
                }).then(response => {
                    if (response.data.status) {
                        this.firstStep = true
                        this.phoneError = undefined
                    } else {
                        this.phoneError = response.data.error
                        this.firstStep = false
                    }
                })
            },

            saveAccountPassword () {
                axios.post('/api/proto/send-password', {
                    password: this.accountPassword
                }).then(response => {
                    if (response.data.status) {
                        this.login = true
                    }
                })
            },

            saveAccountSignup () {

            },

            saveCode () {
                axios.post('/api/proto/send-code', {
                    code: this.verificationCode
                }).then(response => {
                    this.phoneError = undefined

                    if (response.data.status) {
                        this.secondStep = true
                        this.authorizationInfo = response.data.authorization

                        if (response.data.authorization['_'] === 'auth.authorization') {
                            this.login = true
                        }
                    } else {
                        this.codeError = response.data.error
                    }

                    // if (response.data.status) {
                    //     this.firstStep = true
                    //     this.phoneError = undefined
                    // } else {
                    //     this.phoneError = response.data.error
                    //     this.firstStep = false
                    // }
                })
//                axios.get('/api/faqs')
//                    .then(response => {
//                        this.items = response.data.faqs
//                    })
//                 this.login = true;
//                 this.loader = true;
            }
        },

        mounted() {
        }
    }
</script>

<style scoped>
    .mb-1, .my-1 {
        margin-bottom: 4px!important;
        margin-bottom: .75rem!important;
    }

    .p-1 {
        padding: 4px!important;
        padding: .25rem!important;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 12px 20px;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        padding: 1.25rem;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
</style>
