
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "TelInput";


// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "FormWizzard";

.wizard-icon-circle.checked {
  background-color:rgb(243, 166, 0);
}

body{
  position: relative;
  background: #121214;
  min-width: 480px;
  //min-width: 320px;
}
body{
  //overflow-x: hidden;
}
.top_line{
  width: 100%;
  float: left;
  height: 38px;
  box-sizing: border-box;
  background: #2e2e2e;
  span{
    width: 100%;
    display: block;
    text-align: right;
    box-sizing: border-box;
    float: right;
    padding-right: 15px;
    color: #fff;
    padding-top: 7px;
    font-size: 14px;
    b{
      font-weight: bold;
      color: #e2ad1c;
    }
  }
}
/* .container-fluid{
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
} */
#app>div>.col-md-2{
  //padding-right: 0;
  /*-webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.3);*/
  position: relative;
  z-index: 2;
  //min-height: 100vh;
  ul+hr{
    display: none !important;
  }
}
.name_cat{
  width: 100%;
  //float: left;
  padding-top: 50px;
  padding-bottom: 6px;
  border-bottom: 2px solid #565656;
  span{
    width: 97.5%;
    //float: right;
    text-transform: uppercase;
    font-size: 14px;
    color: #b1b1b1;
    //margin: 20px 0 0 20px;
    margin-top: 20px;

  }
}
.name_cat+.table{
  margin-top: 15px;
}
.table-hover > tbody > tr:hover {
    background-color: #1f1f1f !important;
}
.b-form-group.form-group{
  width: 100%;
  float: left;padding-top: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 0 !important;

}
.col-md-10{
  .col-md-4.pb-2{
    width: 100%;
    float: left;
    padding-top: 15px;
    button{
      margin: 0px auto;
      display: table;
      float: none;
    }
  }
}
.profile-usermenu ul *{
  box-sizing: border-box;
}
.profile-usermenu ul li{
  padding-left:0px;
  border-bottom: none !important;
  width: 100%;
  float: left;
  margin-top: 12px;
}

.profile-usermenu ul li a:hover{
  border-left: 2px solid #e0a334 !important;
  background: transparent !important;
  border-bottom: none !important;
  padding-left: 13px !important;

}
.profile-usermenu ul li a{
  color: #fff !important;
      padding: 3px 15px !important;
      font-size: 15px !important;
      i{
        color: #545456;
      }
}
.particles-js:before{
  content: '';
  display: block;
  float: left;
  //background: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.particles-js canvas{
  z-index: 2;
  position: absolute;
}
#app > div > .col-md-10 .table{
  font-size: 12px;
}
.btn.btn-success{
  float: left;
    width: 125px;
    margin-left: 2.5%;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
    background: #f3a600 !important;
    border-radius: 0px !important;
    margin-top: 15px;
    border: 1px solid #442b01 !important;
    margin-bottom: 15px;
}
.col-md-10 table .btn-primary{
      padding: 4px 12px !important;
      border-radius: 0px !important;
      font-size: 13px !important;
      width: 70px !important;
      font-size: 12px !important;
      color: #fff !important;
}
.col-md-10 table .btn-danger{
  padding: 4px 12px !important;
  border-radius: 0px !important;
  font-size: 13px !important;
  width:70px !important;
  font-size: 12px !important;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
  border-color: #1f1f1f !important;
  border-collapse: collapse;
  border-width: 2px !important;
  vertical-align: middle;
}
.table > thead > tr > th{
    border-color: #1f1f1f !important;
    border-collapse: collapse;
    border-width: 2px !important;
}
*{
  outline: none !important;
}
.table a {
    color: #f3a600;
    text-decoration: none;
}
.table{
  background: #1d1d1d;
}
.btn.btn-success+hr{
  border: none !important;
  height: 1px;
  background: transparent;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
}
.profile-usermenu ul li a.active,.profile-usermenu ul li a.active:hover{
  border-left:4px solid #e0a334 !important;
  background: transparent !important;
  border-bottom: none !important;
  padding-left: 13px !important;

    color: #fff !important;
   i{
     color: #e0a334 !important;
   }
}
#app>div>.col-md-2+.col-md-10{
  background: #1b1b1b;
  min-height: 100vh;
}
#app>div>.col-md-10{
  //padding-left: 0;
  .table{
    width: 93%;
    /* float: left; */
    clear: both;
    /* margin-left: 2.5%; */
    margin: 0 auto;
  }
}
.particles-js{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
}
.scroll_ut.to_login{
  //max-width: 650px;

  .form-control{
    width: 100%;
    float: left;
    font-size: 12px;
    color: #fff;

  }
}
.col-sm-2.col-form-label{
  font-size: 12px;
  color: #fff;
  padding-top: 4px;
}
.mb-3.form-control.custom-select{
  color: #ccc !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background: transparent;
  cursor:disabled;
}
.name_cat+.col-md-3.col-md-offset-3{
  margin-bottom: 15px;
  position: relative;
  top: 15px;
  background: #1e1e1e;
  padding-top: 18px;
  text-align: center;
  padding-bottom: 15px;
  position: relative;
  min-height: 155px;
  h4{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
  button{
    float: left;
    width: 145px;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
    background: #f3a600 !important;
    border-radius: 0px !important;
    border: 1px solid #442b01 !important;
    bottom: -55px;


    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.logo_top{
  width: 100%;
  float: left;
  padding-top: 9px;
  padding-bottom: 10px;
  img{
    display: table;
    float: none;
    margin: 0px auto;
  }
}
.logo_user_top{
  width: 100%;
  float: left;
  img{
    display: table;
    float: none;
    margin: 0px auto;
    border-radius: 100px;
    width: 35px;
    height: 34px;
    margin-bottom: 5px;
  }
  span{
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
  }
}
.form-control{
  float: right;
  width:100%;
  height: 30px;
  border:2px solid #3b3b3b;
  background: transparent;
  border-radius: 0px;
  font-size: 12px;
  color: #fff;
  .VuePassword__Input{
    width: 100%;
    float: left;margin-bottom: 10px;
  }
}
.col-md-3.col-md-offset-5.to_login.scroll_ut{
  .form-group{
    margin-top: 0 !important;
  }
   .bottom_st{
    margin-bottom: 10px;
  }
}
.to_login{
  width: 95%;
  max-width: 600px;
  margin: 30px auto;
  //position: fixed;
  //position: absolute;
  position: relative;
  z-index: 9999;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%,-50%);
  background: white;
  //overflow: hidden;
  //overflow-y: auto;
  //margin: 0;
  padding-top: 28px;
  min-height: 255px;
  padding-left: 15px;
  padding-right: 15px;

  .alert {
    padding: 5px;
  }

  .form-control{

    float: right;
    width: 76%;
    height: 30px;
    border:2px solid #3b3b3b;
    background: transparent;
    border-radius: 0px;
    font-size: 12px;
    color: #fff;
    .VuePassword__Input{
      width: 100%;
      float: left;margin-bottom: 10px;
    }
  }
  input#exampleInput2 {
    width: 100%;
    color: black;
    margin-bottom: 20px;
  }
  .btn-block{
    //float: right;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
    background: #f3a600 !important;
    border-radius: 0px !important;
    margin: 0 auto;
    border-color: #f3a600 !important;
    //border:1px solid #442b01 !important;
  }
  #captcha-group{
    //width: 100%;
    overflow: hidden;
    margin-top: 15px;
    //max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__title{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .bottom_st{
    //width: 76%;
    //float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    p{
      font-size: 12px;
      //color: #fff;
      //text-align: left;
      margin-bottom: -1px;
      a{
        color: #c59235;
      }
    }
  }

  .form-group{
    margin-bottom: 10px;
    width: 100%;
    float: left;
  }
  label{
    float: left;
    display: block;
    color: #f5f5f5;
    font-size: 12px;
    margin-top: 5px
  }
}
.container-fluid{
  max-width: 100% !important;
}
@media (min-width:1500px){
  /* #app > div > .col-md-2{
      max-width: 300px !important;
      width: 300px !important;
  }
  #app > div > .col-md-2 + .col-md-10{
      width: calc(100% - 300px) !important;
      padding-right: 0px !important;
  } */
  .top_line span{
    padding-right: 30px !important;
  }

}

.list_top_info{
  width: 100%;
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 15px;
.ovrl_sc{
  width: 50%;
  float: left;
  padding-left: 6px;
  padding-right: 6px;
}
.start_ov{
  width: 50%;
  float: left;

}
  .s_top{
    min-height: 100px;
    padding: 6px;
    width: 100%;
    float: left;
    margin-top: 10px;
    position: relative;
background: #1f1f20;
img{
  position: absolute;
  left: 6px;
  bottom: 6px;
}
    .name_top{

      width: 100%;
      float: left;
      display: block;
      font-size: 16px;
      color: #ffbd05;
      font-weight: bold;
    }
    .status_top{
      position: absolute;
      right: 6px;
      bottom: 6px;
      display: block;
      font-size: 18px;
      color: #acacac;
    }
  }
  .name_top{
    width: 100%;
    float: left;
    display: block;
    font-size: 16px;
    color: #ffbd05;
    font-weight: bold;
  }
}
.category_info{
max-width: 100%;
  float: left;
  width: auto;
  padding-left: 15px;
  display: table;
  float: none;
  margin: 0px auto;
  padding-top: 5px;
  .col-xs-3{
    min-width: 250px;
    max-width: 250px;
  }
  .project.project-info{
    background: #212121;
    border-color: #5bc0de;

  }
  .project-info .shape,.project-success .shape{
    border-color: transparent #f3a100 transparent transparent !important;
    border-color: rgba(255, 255, 255, 0) #f3a100 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) !important;
    border-width: 0 70px 54px 0;
    position: absolute;
    top: 0;
    right: 0;
}
.project{
  position: relative;
}
  .project.project-success{
    background: #19191b;
    border-color: #19191b;
  }
  .shape-text{
    text-transform: uppercase;
    transform: rotate(35deg) !important;
  }
  .shape-text.best{
    transform: rotate(40deg) !important;
    right: -34px !important;
    top: 2px !important;
  }
}

.subsct_day{
  font-size: 14px;
  color: #fff;
  width: 100%;
  padding-left: 2.5%;
    float: left;
    padding-top: 5px;
    padding-bottom: 6px;
    border-bottom: 2px solid #565656;
}
.histor_b{
  width: 98%;
  //float: left;
  margin: 0 auto;
  padding-left: 6px;
  padding-top: 10px;
  .more_toc{
    width: 100%;float: left;
    display: block;
    padding-right: 12px;
    a{
      display: block;
      float: right;
      text-align: right;
      box-sizing: border-box;
      float: right;
      color: #fff;
      padding-top: 10px;
      font-size: 14px;text-decoration: none;
      b{
        font-weight: bold;
  color: #e2ad1c;
      }
    }
  }
  .inside_histor{
    width: 100%;
    float: left;
    position: relative;
    background: #19191b;
    min-height: 174px;
  .depos{
    width: 100%;
    float: left;
    height: 85px;
    background: #2c2c2c;
    padding-left: 6px;
    padding-top: 12px;
    padding-right: 20px;
    .day_left{
      float: right;
      width: 100px;
      display: block;
      text-align: center;
      span{
        text-align: center;
        font-size: 40px;
        color: #fdfdfd;
        line-height: 28px;
      }
      p{
        text-transform: uppercase;
        width: 100%;
        float: left;
        display: block;
        font-size: 14px;
        color: #fdfdfd;
        padding-top: 5px;
      }
    }
    .activit{
      display: block;
      float: left;
      width: 100px;
      span{
        display: block;
        float: left;
        clear: both;
        font-size: 12px;
        color: #f7f7f7;
        margin-bottom: 5px;
      }
      p{
        display: block;
        float: left;
        clear: both;
        font-size: 12px;
        color: #ccc;
        margin-bottom: 0px;
      }
    }
  }
    .line_time{
      width: 100%;
      float: left;
      height:10px;
      background: #3e2914;
      span{
        display: block;
        float: left;
        height: 8px;
        margin-top: 2px;
        background: #da8d0b;
      }
    }
    .top_vict{
      height: 35px;
      width: 100%;
      float: left;
      span{
        display: block;
        float: left;
        display: block;
        font-size: 16px;
        color: #d9aa26;
        padding-left: 7px;
        padding-top: 12px;
      }
      p{
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        display: block;
        float: right;
        padding-top: 12px;
        padding-right: 24px;
      }
    }
  }
}
.col-md-10{
  .alert.alert-info{
    background: #19191b;
    border-radius: 0px;
    font-size: 13px;
    margin-left: 30px;
    color: #acacac;
    padding-left: 6px;
    float: left;
  }
}
.project-content{
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.lead.new_lead{
  font-size: 60px;
  color: #fff;
  margin-top: -1px;
  padding-left: 14px;
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 4px;
  span{
    font-size: 20px;
    font-weight: 700;
    color: #e2ad1c;
    display: inline-block;
    margin-bottom: -10px;
    position: relative;
    top: 0;
    left: 6px;
  }
}
.lead.new_days{
  width: 100%;
  float: left;
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 22px;
}
.project-days.new_d{
  position: relative !important;
  left: 0 !important;
  width: 100%;
  float: left;
  bottom: 0 !important;
}
.no_images_list{
  width: 100%;
  float: left;
  padding-left: 0 !important;
  li{
    list-style: none !important;
    width: 100%;
    float: left;
    border-bottom: 1px solid #353535;
    font-size: 12px;
    height: 45px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 40px;
  }
}
.no_images_list.is_images{
  li{
    padding-left: 15px;
    img{
      line-height: 30px;
      vertical-align: middle;
      padding-right: 10px;
    }
  }
}
.project-price.no_absol{
  width: 100%;
  float: left;
  position: relative !important;
}
.subscr_new{
  width: 100%;
float: left;
padding-top: 18px;
padding-bottom: 0px;
  button{
    display: table !important;
    float: none !important;
    margin: 0px auto !important;
  }
}
.subscr_new.text_types{
  padding-top: 0;
  margin-top: -18px;
  p{
    font-size: 8px;
    color: #fff;
    min-height: 20px;
        padding-left: 15px;
  }
}
.tabluart{
  width: 100%;
  //float: left;
  padding-left: 65px;
  padding-right: 20%;
  margin-top: 20px;
}
.card{
  background: transparent !important;
  border-radius: none !important;
  border: none !important;
  border-top: 1px solid #262626 !important;
  border-bottom: 1px solid #262626 !important;
  margin-bottom: 0 !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  .btn-info,.card-body{
    background: transparent !important;
    padding-left: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    padding-right: 0 !important;
    text-align: left !important;
  }
  .btn.btn-info.btn-block{
    position: relative;
    &:after{
      content: '-';
      font-size: 14px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      float: right;
    }
  }
  .btn.btn-info.btn-block.collapsed{
    position: relative;
    &:after{
      content: '+';
      font-size: 14px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      float: right;
    }
  }
  .card-header{
    background: transparent !important;
    padding-left: 0 !important;
    border-radius: 0 !important;
      border: none !important;
  }
  .card-body{
    p{
      margin-bottom: 2px !important;
      font-size: 12px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-top: 4px !important;
    }
  }
}
#open_menu{
  display: none;
}
@media (max-width:999px){
  /* #app > div > .col-md-2,#app > div > .col-md-2 + .col-md-10{
    padding-left: 23px !important;
    padding-right: 15px !important;
    position: relative;
  } */
  #open_menu{
    display: block;
    display: block;
    width: 28px;
    position: absolute;
    top: 15px;
    right: 35px;
    border: none;
    z-index: 8;
    padding: 0;
    background: transparent;
    span{
      width: 100%;
      display: block;
      float: left;
      height: 4px;
      background: #fff;
      margin-bottom: 4px;
    }
  }
  .profile-usermenu ul li{
  }
  .profile-usermenu{
    width: 100%;
    float: left;
    max-width: 250px;
    background: #000 !important;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    z-index: 99;
    overflow-y: scroll;
    padding-bottom: 30px;
    left: -100%;
    height: 100%;
  }
  .tabluart{
    padding-left: 10px;
    padding-right: 10px;
  }
  /* #app > div > .col-md-2 + .col-md-10,#app > div > .col-md-2{
    width: 100%;
    float: left;
    height: auto;
    min-height: 10px;
  } */
  .list_top_info .start_ov{
    width: 100%;

  }
  .histor_b{
    width: 100%;
  }
  .category_info .col-xs-3{
    float: none;
    margin: 0px auto;
    display: table;
  }
  .category_info{
    padding-left: 0;
    width: 100%;
  }
}
.funds{
  width: 100%;
  float: left;
  padding-left: 25px;
  padding-right: 15px;
  .funds_span{
    width: 100%;
    padding-top: 23px;
    float: left;
    font-size: 15px;
    color: #fff;
    span{
          color: #d9aa26;
    }
  }
}
.txid_filed {
  background-color: #171717;
}

.left_sender{
  width: 100%;
  max-width: 485px;
  float: left;
  margin-bottom: 50px;
  padding-right: 10px;
   background: linear-gradient(#2e2e2e, #171717);
   min-height: 200px;
   margin-top: 27px;
   padding-left: 10px;
   form{
     width: 100%;
     float: left;
     label{
       width: 100%;
       float: left;
       font-size: 15px;
       color: #fff;
       margin-top: 10px;
       margin-bottom: 13px;
      font-weight: 400;
     }
      &>div{
        width: 100%;
        //float: left;
        //padding-left: 60px;

        input{
          width: 100%;float: left;
          height: 30px;
          background: #171717;
          color: #fff;
          border:none;
           text-align: center;
           font-size: 15px;
           margin-bottom: 15px;
           //max-width: 353px;
           float: right;
        }
      }
      button{
        width: 100px;
        text-align: center;
        text-transform: uppercase;
        color: #fff !important;
        background: #f3a600 !important;
        border-radius: 0px !important;
        margin-top: 15px;
        border: 1px solid #442b01 !important;
        margin-bottom: 15px;
        display: inline;
        height: 30px;
        margin-left: 80px;
      }
      fieldset{
        width: 100%;
        float: left;
        div{
          position: relative;
        }
        span{
          display: block;
          float: left;
          color: #fff;
          font-size: 15px;
          margin-right: 9px;
          margin-top: 1px;
          position: absolute;
          left: -35px;
          /* top: 1px; */
        }
        input{
          width: 100%;float: left;
          height: 30px;
          background: #171717;
          color: #fff;
          border:none;
           text-align: center;
           font-size: 15px;
           margin-bottom: 15px;
           min-width: 353px;
        }
        div{
          //float: right;

        }
      }
   }
}

#app>div>.col-md-2+.col-md-10 {
  background: rgb(37, 37, 37);
  min-height: 150vh;
}

.category_info .col-xs-3 {
  min-width: 350px;
  max-width: 300px;
  /* height: 500px; */
}

.no_images_list.is_images li {
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 15px;
}

.subscr_new.text_types p {
  font-size: 12px;
  margin: 10px 0;
  color: #fff;
  text-align: center;
  min-height: 20px;
  padding-left: 15px;
}

.right_sender {
  text-align: center;
  margin-top: 75px;
}

.check-confirmation {
  text-align: center;
  text-transform: uppercase;
  color: #fff !important;
  background: #f3a600 !important;
  border-radius: 0px !important;
  margin-top: 15px;
  border: 1px solid #442b01 !important;
  margin-bottom: 15px;
  display: inline;
  height: 30px;
  //margin-left: 80px;
}

.vue-btn {
  font-size: 12px;
}

.spinner {
  width: 20px !important;
  height: 20px !important;
}

button.btn.btn-success.mb-1.text-center:hover { background-color: #2ab27b !important; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px;
  font-weight: bold;
}

/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .top_line {
        margin-bottom: 15px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      .intl-phone-input .country-list {
          width: 320px;
          white-space: nowrap !important;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }


.pagination-wrapper {
  //background: #1d1d1d;
  text-align: center;

  .pagination {
    ul {
      font-size: 12px;
    }
  }




}

.pagination-wrapper > .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus  {
  background: #1d1d1d;
  border-color: #1f1f1f !important;
  border-collapse: collapse;
  color: #f3a600;
}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus,
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #f3a600;
  border-color: #f3a600;
  cursor: default;
}

.pagination > li > a, .pagination > li > span {

  background: #1d1d1d;
  border-color: #1f1f1f !important;
  border-collapse: collapse;
  color: #f3a600;
}

.pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background: #1d1d1d;
  border-color: #1f1f1f !important;
  border-collapse: collapse;
  color: #f3a600;
}



.nav > li > a:hover, .nav > li > a:focus {
  background-color:inherit;
}