<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Settings</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="Name"
                      label-for="name">
            <b-form-input
                id="name"
                v-model="form.name"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Value"
                      label-for="value">
            <b-form-input
                    id="value"
                    v-model="form.value"

            ></b-form-input>
        </b-form-group>

        <div class="col-md-4 pb-2">
            <b-button @click="createSetting" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                edit: window.edit,
                id: window.id,
                form: {
                    name: undefined,
                    value: undefined,
                },
            }
        },

        methods: {
            createSetting () {
                let request

                if (this.edit) {
                    request = axios.post('/api/setting/' + this.id, this.form)
                }

                request
                    .then(response => {
                        window.location.href = '/settings'
                    })
            },
            getEntity () {
                axios.get('/api/setting/' + this.id)
                    .then(response => this.form = response.data.setting)
            }
        },

        mounted() {
            if (this.edit) {
                this.getEntity()
            }
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
