<template>
    <div class="col-md-10">
        <balance></balance>
        <div class="name_cat">
          <span>Settings</span>
        </div>

        <div class="row">
            <div class="col-md-12">
                <b-card  bg-variant="dark" text-variant="white" header="Panel Tools">
                    <b-button  v-on:click="cryptogramSync" variant="primary">Cryptogram Sync</b-button>
                </b-card>
            </div>
        </div>

        <div class="table-responsive">
            <b-table hover :items="items" :fields="fields">
                <template slot="actions" slot-scope="data">
                    <b-button-group>
                        <b-button :href="'/settings/edit/' + data.item.id" variant="primary">Edit</b-button>
                    </b-button-group>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import Balance from '../../components/Balance'
    import VueButtonSpinner from 'vue-button-spinner'

    export default {
        components: {
            Balance
        },

        data () {
            return {
                fields: [ 'name', 'value', 'actions' ],
                items: []
            }
        },

        methods: {
            getAllSettings () {
                axios.get('/api/settings')
                    .then(response => {
                        this.items = response.data.settings
                    })
            },

            cryptogramSync () {
                axios({
                    method: 'post',
                    url: '/api/cryptogram-sync',
                    responseType: 'arraybuffer'
                }).then(response => {
                    if (response === undefined) {
                        return alert('Error')
                    } else {
                        let blob = new Blob([response.data],{type: response.headers['content-type']});
                        let link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = "Filename";
                        link.click();
                    }

                    // this.items = response.data.settings
                })
            }
        },

        mounted() {
            this.getAllSettings()
        }
    }
</script>

<style scoped lang="scss">
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .text-white {
        color: #fff!important;
    }
    .bg-dark {
        background-color: #343a40!important;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 12px 20px;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);

        font-size: 14px;
        color: #b1b1b1;
        text-transform: uppercase;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        padding: 1.25rem;

        .btn-primary {
            padding: 4px 12px !important;
            border-radius: 0px !important;
            font-size: 13px !important;
            /* width: 70px !important; */
            font-size: 12px !important;
            color: #fff !important;
        }
    }

    .card {
        margin: 30px auto;
        width: 93%;
    }
</style>
