<template>
    <div class="col-md-10">
        <balance></balance>
        <div class="name_cat">
          <span> Frequently Asked Question (Faq)</span>
        </div>
        <div class="tabluart" role="tablist">
            <b-card no-body class="mb-1" :key="index" v-for="(faq, index) in items">
                <b-card-header header-tag="header" class="p-1" role="tab">
                    <b-btn style="white-space: normal !important;" block href="#" v-b-toggle="'accordeon' + index" variant="info">{{faq.question}}</b-btn>
                </b-card-header>
                <b-collapse :id="'accordeon' + index" visible accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                        <p class="card-text">
                            {{faq.answer}}
                        </p>
                    </b-card-body>
                </b-collapse>
            </b-card>

        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import Balance from '../../components/Balance'

    export default {
        components: {
            Balance
        },

        data () {
            return {
                items: []
            }
        },

        methods: {
            getLogs () {
                axios.get('/api/faqs')
                    .then(response => {
                        this.items = response.data.faqs
                    })
            }
        },

        mounted() {
            this.getLogs()
        }
    }
</script>

<style scoped>
    .mb-1, .my-1 {
        margin-bottom: 4px!important;
        margin-bottom: .75rem!important;
    }

    .p-1 {
        padding: 4px!important;
        padding: .25rem!important;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 12px 20px;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        padding: 1.25rem;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
</style>
