<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Addresses</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="Type"
                      label-for="type">
            <b-form-select id="type" v-model="form.type" :options="types" class="mb-3">
            </b-form-select>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Value"
                      label-for="value">
            <b-form-input
                id="value"
                v-model="form.value"

            ></b-form-input>
        </b-form-group>


        <div class="col-md-4 pb-2">
            <b-button @click="createUser" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                edit: window.edit,
                id: window.id,
                types: [
                    {
                        value: 'btc',
                        text: 'BTC'
                    },
                    {
                        value: 'eth',
                        text: 'ETH'
                    }
                ],
                form: {
                    type: undefined,
                    value: undefined
                },
            }
        },

        methods: {
            createUser () {
                let request

                if (this.edit) {
                    request = axios.post('/api/address/' + this.id, this.form)
                } else {
                    request = axios.post('/api/address', this.form)
                }

                request
                    .then(response => {
                        window.location.href = '/addresses'
                    })
            },
            getEntity () {
                axios.get('/api/address/' + this.id)
                    .then(response => this.form = response.data.address)
            }
        },

        mounted() {
            if (this.edit) {
                this.getEntity()
            }
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
