<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Faq</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="Question"
                      label-for="question">
            <b-form-input
                id="question"
                placeholder="Question"
                v-model="form.question"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Answer"
                      label-for="answer">
            <b-form-textarea
                    id="answer"
                    v-model.trim="form.answer"
                    placeholder="Answer"
                    :rows="3"
            ></b-form-textarea>
        </b-form-group>


        <div class="col-md-4 pb-2">
            <b-button @click="createUser" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                edit: window.edit,
                id: window.id,
                form: {
                    question: undefined,
                    answer: undefined,
                },
            }
        },

        methods: {
            createUser () {
                let request

                if (this.edit) {
                    request = axios.post('/api/faq/' + this.id, this.form)
                } else {
                    request = axios.post('/api/faq', this.form)
                }

                request
                    .then(response => {
                        window.location.href = '/faq-admin'
                    })
            },
            getEntity () {
                axios.get('/api/faq/' + this.id)
                    .then(response => this.form = response.data.faq)
            }
        },

        mounted() {
            if (this.edit) {
                this.getEntity()
            }
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
