<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Packages</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="Name"
                      label-for="name">
            <b-form-input
                id="name"
                v-model="form.name"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Days"
                      label-for="days">
            <b-form-input
                    placeholder="180"
                    id="days"
                    v-model="form.days"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Price BTC"
                      label-for="btc">
            <b-form-input
                    placeholder="Leave this field blank if you do not use this payment method"
                    id="btc"
                    v-model="form.Price_BTC"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Price ETH"
                      label-for="eth">
            <b-form-input
                    placeholder="Leave this field blank if you do not use this payment method"
                    id="eth"
                    v-model="form.Price_ETH"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Description"
                      label-for="description">
            <b-form-textarea
                    id="description"
                    v-model.trim="form.description"
                    placeholder="Enter Description Message"
                    :rows="3"
            ></b-form-textarea>
        </b-form-group>


        <div class="col-md-4 pb-2">
            <b-button @click="createPackage" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                edit: window.edit,
                id: window.id,
                form: {
                    name: undefined,
                    description: undefined,
                    Price_BTC: undefined,
                    Price_ETH: undefined,
                    days: undefined
                },
            }
        },

        methods: {
            createPackage () {
                let request

                if (this.edit) {
                    request = axios.post('/api/package/' + this.id, this.form)
                } else {
                    request = axios.post('/api/package', this.form)
                }

                request
                    .then(response => {
                        window.location.href = '/packages'
                    })
            },
            getEntity () {
                axios.get('/api/package/' + this.id)
                    .then(response => this.form = response.data.package)
            }
        },

        mounted() {
            if (this.edit) {
                this.getEntity()
            }
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
