<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Transactions</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="Finished Date"
                      label-for="finished_date">
            <b-form-input
                id="finished_date"
                v-model="form.finished_date"

            ></b-form-input>
        </b-form-group>

        <!--<b-form-group horizontal-->
                      <!--:label-cols="2"-->
                      <!--label="Price BTC"-->
                      <!--label-for="btc">-->
            <!--<b-form-input-->
                    <!--placeholder="Leave this field blank if you do not use this payment method"-->
                    <!--id="btc"-->
                    <!--v-model="form.Price_BTC"-->

            <!--&gt;</b-form-input>-->
        <!--</b-form-group>-->

        <!--<b-form-group horizontal-->
                      <!--:label-cols="2"-->
                      <!--label="Price ETH"-->
                      <!--label-for="eth">-->
            <!--<b-form-input-->
                    <!--placeholder="Leave this field blank if you do not use this payment method"-->
                    <!--id="eth"-->
                    <!--v-model="form.Price_ETH"-->

            <!--&gt;</b-form-input>-->
        <!--</b-form-group>-->

        <!--<b-form-group horizontal-->
                      <!--:label-cols="2"-->
                      <!--label="Description"-->
                      <!--label-for="description">-->
            <!--<b-form-textarea-->
                    <!--id="description"-->
                    <!--v-model.trim="form.description"-->
                    <!--placeholder="Enter Description Message"-->
                    <!--:rows="3"-->
            <!--&gt;</b-form-textarea>-->
        <!--</b-form-group>-->


        <div class="col-md-4 pb-2">
            <b-button @click="editTransaction" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                edit: window.edit,
                id: window.id,
                form: {
                    finished_date: undefined,
                },
            }
        },

        methods: {
            editTransaction () {
                let request

                    request = axios.post('/api/transaction/' + this.id, this.form)


                request
                    .then(response => {
                        window.location.href = '/transactions'
                    })
            },
            getEntity () {
                axios.get('/api/transaction/' + this.id)
                    .then(response => this.form = response.data.transaction)
            }
        },

        mounted() {
            if (this.edit) {
                this.getEntity()
            }
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
