<template>
    <div  class="col-md-10">
        <balance></balance>
        <div class="name_cat">
          <span>Transactions</span>
        </div>

        <div class="row" v-if="userRole === 'ROLE_ADMIN'">
            <div class="col-md-12">
                <b-card  bg-variant="dark" text-variant="white" header="Search & Filter">
                    <div class="col-md-3">
                        <b-form-group id="fieldsetHorizontal1"
                                      horizontal
                                      :label-cols="3"
                                      breakpoint="md"
                                      description="TX ID"
                                      label="Search:"
                                      label-for="inputHorizontal1">
                            <b-form-input id="inputHorizontal1" v-model="filterData.search"></b-form-input>
                        </b-form-group>

                    </div>
                    <div class="col-md-3">

                        <b-form-group id="fieldsetHorizontal2"
                                      horizontal
                                      :label-cols="3"
                                      breakpoint="md"
                                      description="Select One"
                                      label="Status:"
                                      label-for="inputHorizontal2">
                            <b-form-select id="inputHorizontal2" v-model="filterData.status_id" :options="statuses" class="mb-3" />
                        </b-form-group>
                    </div>
                    <b-button-group>
                        <b-button @click="filter" variant="primary">Filter</b-button>
                        <!--<b-button @click="filter" variant="danger">Reset</b-button>-->
                    </b-button-group>
                </b-card>
            </div>
        </div>

        <div class="table-responsive">
            <b-table hover :items="items" :fields="fields">
                <template slot="user" slot-scope="data">
                    {{data.value.telegram_name}}
                </template>
                <template slot="package" slot-scope="data">
                    {{data.value.name}}
                </template>
                <template slot="tx_id"  slot-scope="data">
                    <div class="wrap">{{data.value}}</div>
                </template>
                <template slot="wallet" slot-scope="data">
                    <template v-if="data.item.address">
                        <div class="wrap">{{data.item.address.value}}</div>
                    </template>
                </template>
                <template slot="status" slot-scope="data">
                    <template v-if="parseInt(data.value) === 0">
                        <b-badge variant="warning">Pending</b-badge>
                    </template>
                    <template v-if="parseInt(data.value) === 1">
                        <b-badge variant="success">Success</b-badge>
                    </template>
                    <template v-if="parseInt(data.value) === 2">
                        <b-badge variant="danger">Failed</b-badge>
                    </template>
                </template>
                <template slot="actions" slot-scope="data">
                    <b-button-group>
                        <b-button :href="'/transactions/edit/' + data.item.id" variant="primary">Edit</b-button>
                        <b-button @click="remove(data.item.id, data.index)" variant="danger">Remove</b-button>
                    </b-button-group>
                </template>
            </b-table>

            <div class="pagination-wrapper" v-if="total">
                <b-pagination v-if="!needFilter" align="right" :total-rows="total" v-model="page" :per-page="perPage"></b-pagination>
                <b-pagination v-if="needFilter" align="right" :total-rows="total" v-model="filterPage" :per-page="perPage"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import AuthService from '../../services/Auth'
    import Balance from '../../components/Balance'

    const authService = new AuthService()

    export default {
        components: {
            Balance
        },

        data () {
            return {
//                role: true,
                fields:
                [
                    'type', 'user', 'package',  {key: 'tx_id', thClass: 'custom-th'}, 'status', {key: 'wallet', thClass: 'custom-th'}, 'price',
                    'fee', 'created_at', 'updated_at', 'finished_date', 'actions'
                ],
                statuses: {
                    // 0: 'Pending',
                    1: 'Success',
                    2: 'Failed'
                },
                items: [],
                filterData: {
                    search: '',
                    status_id: 0,
                },
                total: 0,
                page: 1,
                filterPage: 1,
                perPage: 50
            }
        },

        computed: {
            needFilter: function () {
                return (this.filterData.search !== '' || this.filterData.status_id !== 0)
            },

            userRole: function () {
                return authService.getRoleUserRole().name
            }
        },

        watch: {
            page: function() {
                this.getAllTransactions()
            },

            filterPage: function () {
                this.filter()
            }
        },


        methods: {
            changeTableFieldsByRole () {

                if (authService.getRoleUserRole().name === 'ROLE_ADMIN') {
                    this.fields =
                        [
                            'type', 'user', 'package',  {key: 'tx_id', thClass: 'custom-th'}, 'status', {key: 'wallet', thClass: 'custom-th'},
                            'price', 'fee', 'is_correct_fee', 'created_at', 'updated_at', 'finished_date', 'actions'
                        ]
                } else {
                    this.fields =
                        [
                            'type', 'user', 'package',  {key: 'tx_id', thClass: 'custom-th'}, 'status', {key: 'wallet', thClass: 'custom-th'},
                            'price', 'fee', 'created_at', 'updated_at', 'finished_date'
                        ]
                }
            },

            filter () {
                axios.post('/api/transactions-filter?page=' + this.filterPage, this.filterData)
                    .then(response => {
                        this.items = response.data.transactions.data
                        this.total = response.data.transactions.total
                        this.filterPage = response.data.transactions.current_page
                    })
            },

            remove (id, index) {
                axios.delete('/api/transaction-delete/' + id)
                    .then(() => {
                        this.items.splice(index, 1)
                    })
            },

            getAllTransactions () {
                axios.get('/api/transactions?page=' + this.page)
                    .then(response => {
                        this.items = response.data.transactions.data
                        this.total = response.data.transactions.total
                        this.page = response.data.transactions.current_page
                    })
            }
        },

        mounted() {
            this.getAllTransactions()
            this.changeTableFieldsByRole()
        }
    }
</script>

<style scoped lang="scss">
    .wrap {
        word-break: break-word;
        min-width: 100px
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffc107;
    }

    .b-form-group.form-group {
        margin-top: 0;

        .form-control {
            float: right;
            width: 100%;
            height: 30px;
            border: 1px solid #1f1f1f;
            background: #3b3b3b !important;
            border-radius: 0px;
            font-size: 12px;
            color: #fff;
        }
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .text-white {
        color: #fff!important;
    }
    .bg-dark {
        background-color: #343a40!important;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        padding: 12px 20px;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);

        font-size: 14px;
        color: #b1b1b1;
        text-transform: uppercase;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        padding: 1.25rem;

        .btn-primary, .btn-danger {
            padding: 4px 12px !important;
            border-radius: 0px !important;
            font-size: 13px !important;
            /* width: 70px !important; */
            font-size: 12px !important;
            color: #fff !important;
        }
    }

    .card {
        margin: 30px auto;
        width: 93%;
    }
</style>

<style>
    .custom-th {
        min-width: 100px;
        word-break: break-all;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        border: 0;
        padding-top: 20px;
    }
</style>
