<template>
    <div class="col-md-10">
    <div class="name_cat">
      <span>Email Details</span>
    </div>
        <!--<input type="hidden" value="{{ url('/') }}" v-model="baseUrl" />-->

        <b-form-group horizontal
                      :label-cols="2"
                      label="Type"
                      label-for="type">
            <b-form-input
                readonly
                id="type"
                v-model="form.type"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Subject"
                      label-for="subject">
            <b-form-input
                id="subject"
                v-model="form.subject"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Title"
                      label-for="title">
            <b-form-input
                    id="title"
                    v-model="form.title"

            ></b-form-input>
        </b-form-group>

        <b-form-group horizontal
                      :label-cols="2"
                      label="Text"
                      label-for="text">
            <b-form-input
                id="text"
                v-model="form.text"

            ></b-form-input>
        </b-form-group>

        <b-form-group v-if="form.type !== 'subscription_ends'"
                      horizontal
                      :label-cols="2"
                      label="Button text"
                      label-for="button_text">
            <b-form-input
                id="button_text"
                v-model="form.button_text"

            ></b-form-input>
        </b-form-group>

        <div class="col-md-4 pb-2">
            <b-button @click="editEmailDetail" variant="success">
                Save
            </b-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data () {
            return {
                edit: window.edit,
                id: window.id,
                form: {
                    name: undefined,
                    value: undefined,
                },
            }
        },

        methods: {
            editEmailDetail () {
                let request

                if (this.edit) {
                    request = axios.post('/api/email-detail/' + this.id, this.form)
                }

                request
                    .then(response => {
                        window.location.href = '/email-details'
                    })
            },
            getEntity () {
                axios.get('/api/email-detail/' + this.id)
                    .then(response => this.form = response.data.detail)
            }
        },

        mounted() {
            if (this.edit) {
                this.getEntity()
            }
        }
    }
</script>

<style scoped>
    .form-group {
        padding-bottom: 40px;
    }
</style>
