<template>
    <div class="col-md-10">
        <balance></balance>
        <div class="name_cat">
          <span>Email Details</span>
        </div>

        <div class="table-responsive">
            <b-table hover :items="items" :fields="fields">
                <template slot="actions" slot-scope="data">
                    <b-button-group>
                        <b-button :href="'/email-details/edit/' + data.item.id" variant="primary">Edit</b-button>
                    </b-button-group>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import Balance from '../../components/Balance'

    export default {
        components: {
            Balance
        },

        data () {
            return {
                fields: [ 'subject', 'title', 'text', 'button_text', 'type', 'actions' ],
                items: []
            }
        },

        methods: {
            getAllSettings () {
                axios.get('/api/email-details')
                    .then(response => {
                        this.items = response.data.details
                    })
            }
        },

        mounted() {
            this.getAllSettings()
        }
    }
</script>

<style scoped>

</style>
